{{ define "main" }}
        <div>
            <h1 class="p-name" id="textOverlay">{{ .Title }}</h1>
        </div>
    </section>
    <main class="post h-entry container row">
        <div class="post">
            <div class="post-data row">
            </div>
            <div class="e-content">
                {{ .Content }}
                {{ with .Params.tags }}
                <span class="tag-container">
                    {{ range . }}
                    <a class="p-category tag" href="{{ "tags/" | relURL }}{{ . | urlize }}/">
                        {{ . }}
                    </a>&nbsp;
                    {{ end }}
                </span>
                {{ end }}
            </div>
        </div>
        {{ if .Site.Params.useToc }}
            {{ $headingsCount := replaceRE "[^0-9]" "" (trim (partial "count-headings.html" .Content) " \n\r") }}
            {{ $headingsCountInt := int $headingsCount }}
            {{ $multiHeading := ge $headingsCount 1 }}
            {{ if $multiHeading }}
                <aside class="tableOfContentContainer" id="tableOfContentContainer">
                    <h3>Table of Contents</h3>
                    {{ .TableOfContents }}
                </aside>
            {{ end }}
        {{ end }}
    </main>
{{ end }}
